In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\alber\desktop\prog\visualstudiocode\learning_numpy_jupyternotebook\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\alber\desktop\prog\visualstudiocode\learning_numpy_jupyternotebook\.venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alber\desktop\prog\visualstudiocode\learning_numpy_jupyternotebook\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alber\desktop\prog\visualstudiocode\learning_numpy_jupyternotebook\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alber\desktop\prog\visualstudiocode\learning_numpy_jupyternotebook\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\alber\desktop\prog\visualstudiocode\learning_numpy_jupyternotebook\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame({
    "População":[30.000, 20.000, 10.000],
    "HDI": [0.01, 0.02, 0.03],
    "Continente": ["America", "Asia", "Europa"],
}, columns=["População", "HDI", "Continente"]) #Atributo [columns] é opcional

In [ ]:
df #Combinação de multiplas séries divididas por colunas

   População   HDI Continente
0       30.0  0.01    America
1       20.0  0.02       Asia
2       10.0  0.03     Europa

In [6]:
#Designando um índice
df.index=["Canada", "China", "França"]
df

        População   HDI Continente
Canada       30.0  0.01    America
China        20.0  0.02       Asia
França       10.0  0.03     Europa

In [7]:
df.columns

Index(['População', 'HDI', 'Continente'], dtype='object')

In [8]:
df.index

Index(['Canada', 'China', 'França'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Canada to França
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   População   3 non-null      float64
 1   HDI         3 non-null      float64
 2   Continente  3 non-null      object
dtypes: float64(2), object(1)
memory usage: 204.0+ bytes