In [ ]:
pip install pandas

In [1]:
import pandas as pd
import numpy as np

---

In [4]:
s=pd.Series([10.90, 36.789, 67.980])
s

0    10.900
1    36.789
2    67.980
dtype: float64

In [5]:
s.name="Séries" # adicionando nomes
s

0    10.900
1    36.789
2    67.980
Name: Séries, dtype: float64

In [ ]:
s.dtype #exibindo o tipo de dados

dtype('float64')

In [7]:
s.values #exibindo os valores

array([10.9  , 36.789, 67.98 ])

In [11]:
print(f'3 valor: {s[2]}')
print(f'2 valor: {s[1]}')

3 valor: 67.98
2 valor: 36.789

In [12]:
s.index

RangeIndex(start=0, stop=3, step=1)

---

In [6]:
#Editando o index
s.index=[
    "idade",
    "Distancia",
    "KM",
]

s

idade        10.900
Distancia    36.789
KM           67.980
Name: Séries, dtype: float64

In [7]:
#criando séries manualmente - 1
pd.Series ({
    'id': 10.90,
    'Distance': 80,
    'Altura': 2
}, name= 'caracteristicas')

id          10.9
Distance    80.0
Altura       2.0
Name: caracteristicas, dtype: float64

In [3]:
#criando séries manualmene - 2
pd.Series(
    [90.10, 79.2, 1.79],
    index=['id', 'Distancia', 'Altura'],
    name="caracteristicas"
)

id           90.10
Distancia    79.20
Altura        1.79
Name: caracteristicas, dtype: float64

In [ ]:
#crianndo Series a partir de outras Series e só ir especificando os indices
pd.Series(s, index=['idade', 'Distancia', 'KM'])

idade        10.900
Distancia    36.789
KM           67.980
Name: Séries, dtype: float64

In [15]:
#chamando índice por posição mesmo que o índice tenha nome
# usando [ .iloc [n] ] -> n = posição
print(s)
print("-----")
print(f"ultimo valor: {s.iloc[-1]}")
print(f"primeiro valor: {s.iloc[-1]}")

idade        10.900
Distancia    36.789
KM           67.980
Name: Séries, dtype: float64
-----
ultimo valor: 67.98
primeiro valor: 67.98

In [16]:
s.iloc[[0, -1]]

idade    10.90
KM       67.98
Name: Séries, dtype: float64

---

Boolean arrays

In [21]:
print(s)
print("---")
print(s>20)

idade        10.900
Distancia    36.789
KM           67.980
Name: Séries, dtype: float64
---
idade        False
Distancia     True
KM            True
Name: Séries, dtype: bool

In [22]:
s[s>20]

Distancia    36.789
KM           67.980
Name: Séries, dtype: float64